<div class="p-4">
  <div class="flex flex-col items-center justify-center h-32">
    <p class="text-xl text-center font-bold">「あなたの習慣づくりをサポートします」</p>
  </div>
  <div class="mt-4">
    <p class="text-base text-center">
      「Step By Step」は習慣化をサポートするために<br>
      設計されたアプリです。<br><br>
      習慣を身につける過程で挫折しがちな人々に向けて<br>
      無理のないスケジュールを提案し、<br>
      目標達成をサポートします。<br><br>
      まずは習慣目標を作成してみましょう!<br>
      (所要時間1分程度)
    </p>
  </div>
  <div class="flex justify-center mt-8">
    <button class="btn btn-active btn-secondary">START!</button>
  </div>
</div>