<div class="p-4">
  <div class="flex flex-col items-center justify-center h-32">
    <p class="text-xl text-center font-bold">「あなたの習慣づくりをサポートします」</p>
  </div>
  <div class="mt-4 text-base text-center">
    <p>「Step By Step」は習慣化をサポートするために</p>
    <p>設計されたアプリです。</p><br>
    <p>習慣を身につける過程で挫折しがちな人々に向けて</p>
    <p>無理のないスケジュールを提案し、</p>
    <p>目標達成をサポートします。</p>
  </div>
  <div class="flex justify-center mt-8">
    <%= link_to "#", class: "btn btn-active btn-secondary" do %>
      ログイン
    <% end %>
  </div>
  <div class="flex justify-center mt-8">
    <%= link_to "#", class: "btn btn-active btn-secondary" do %>
      ゲストログイン
    <% end %>
  </div>
</div>