<footer class="footer footer-center bg-base-300 text-base-content rounded p-3">
  <nav class="grid grid-flow-col gap-5">
    <a class="link link-hover">利用規約</a>
    <a class="link link-hover">プライバシーポリシー</a>
    <a class="link link-hover">お問い合わせ</a>
  </nav>
  <aside>
    <p>Copyright © <%= Time.now.year %> - Step By Step - All rights reserved.</p>
  </aside>
</footer>